
#index.html{
   background-color: rgb(122, 78, 131); 
}
.h1{
    text-decoration: rgb(78, 112, 51);
}
.h2{
    text-decoration: rgb(63, 110, 163);
}
.h3{
    text-decoration: rgb(165, 58, 58);
}